<%- include('.././includes/head.ejs') %>

<body>
    <%- include('../includes/navbar.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-12">
                Product Form
            </div>
        </div>
    </div>