<%- include('./includes/head.ejs') %>

<body>
    <%- include('includes/navbar.ejs') %>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                HOME
            </div>
        </div>
    </div>